*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;	
}
.verde{
	background-color: chartreuse;
	height: 6rem;
}
.morado{
	background-color: purple;
	height: 30rem;
}
.naranja{
	background-color: orange;
	height: 35rem;
}
.rojo{
	background-color: red;
	height: 35rem;
}
.rosado{
	background-color: pink;
	height: 40%;
}
.amarillo{
	background-color: yellow;
	height: 60%;
}
.azul{
	background-color: blue;
	height:8rem;
}
.a{
	background-color: green;
}
.b{
	background-color: purple;
}
.c{
	background-color: mediumpurple;
}
/* consulta de medios*/
@media only screen and (max-width: 600px) {
  .morado{
	background-color: darkred;
	height: 30rem;